
body {
	background-color: black;
	height: 100%;
	width: 100%;
	margin:0px;
	padding: 0px;
	font-family: "Lato", sans-serif;
}
/* The side navigation menu */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 99999; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.5s; 
    text-align: center;
}

.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    
    color: #818181;
    display: block;
    transition: 0.3s
}

/* mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 99;
}
.side_social{
	display: block;
	float: left;
	margin: 0px 10px;
	font-size: 25px;
}

#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.img_cotainer{
	width: 100%;
  height: 250px;
  position: relative;
}
.close_btn .image_below{
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.close_btn{
	z-index: 9999;
}

.side_info{
	padding-bottom: 10px;
}
.color{
	color: #818181;
}
.sideimage{
	
	display: inline-block;
}
.wrapper{
	
	display: block;
	margin:0px;
	padding: 0px;
	height: 650px;
	width: 100%;
}
.panel_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 600px;
	perspective: 600px;
}
.panel{
	width: 100%;
    height: 100%;
    background-image: url("webhome1.jpg");
    background-attachment: fixed;
	background-color: rgb(66,66,66);
	position: absolute;
	
}

.main_heading{
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -100px;
	margin-left: -200px;
}
.main_name{
	font-size: 80px;
	font-family: Abel,sans-serif;
	color: white;
}
.section1{
	height: 100%;
	text-align: center;
  background-color: #fafafa;
}
.about_des{
	font-size:30px;
	text-align: justify;
	
	line-height: 150%;
}
.font_open{
	font-family: 'Open Sans', sans-serif ;
}
.section2{
	padding:50px 0px;
	text-align: center;
	height: 100%;
	width: 100%;
	float: left;
}
#sl{
	height: 100px;
	width: 100px;
}


.s1{
	width: 150px;
	height: 150px;
	margin:10px;
}

.col-md-3{
	display: block;
	background-color: white;
	border-radius: 10px;
	width: 170px;
	height: 170px;
	margin:40px;
	float: left;
}
.skill_head{
	font-size: 50px;
	letter-spacing: 4px;
	color: white;
}


.loader_lang{
	color: white;
	font-size: 25px;
}
.hr1{
	background-color: black;
	height: 2px;
	width: 50%;
}
.section1_right{
	text-align: center;
	
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}
.aboutme{
	text-align: justify;
	line-height: 40px;
	font-size: 20px;
	display: inline-block;
	max-width: 70%;
}
.aboutme_head{
	letter-spacing: 4px;
}
.s2{
	width: 200px;
	height: 400px;
}

.section3{

	width: 100%;
	background-color: white;
	padding: 10px;
	float: left;
}
.row_s{
	display: inline-block;
}
.col-md{
	float: left;
	width: 200px;
	height: 200px;
	margin:25px 25px;
	border: 1px solid black;
}
.container {
	text-align: center;
}
.skill_block_container{
	display: block;
	margin:30px;
	float: left;
	
}

.footer{
	text-align: center;
	width: 100%;
	float:left;
	background-color: white;
}
.footer_container{
	display: inline-block;
	text-align: center;
	font-weight: 600;
}
.links{

	text-align: left;
	margin: 0px auto;
	max-width: 70%;
	color: black;
}
.link_deco{
	text-decoration: none;
	color: black;
}

.loader_1 {
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
    background-color: #f8c6c2;
    border: 2px solid #f8c6c2;
    margin: 50px auto;
    position:relative;
}
.loader_1:before{
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    
    z-index: 1;
    border-radius: 50%;
    left: 18px;
    top: 18px;
}
.loader_1:nth-child(1) {
    background-image:
        linear-gradient(90deg, transparent 50%, #EC5F51 10%),
        linear-gradient(390deg, #EC5F51 50%, transparent 50%);
}
.loader_2 {
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
    background-color: #d8f098;
    border: 2px solid #d8f098;
    margin: 50px auto;
    position:relative;
}
.loader_2:before{
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    
    z-index: 1;
    border-radius: 50%;
    left: 18px;
    top: 18px;
}
.loader_2:nth-child(1) {
    background-image:
        linear-gradient(90deg, transparent 50%, #ACEC00 50%),
        linear-gradient(270deg, #ACEC00 50%, transparent 50%);
}
.loader_3 {
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
    background-color: #e1b6e9;
    border: 2px solid #e1b6e9;
    margin: 50px auto;
    position:relative;
}
.loader_3:before{
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    
    z-index: 1;
    border-radius: 50%;
    left: 18px;
    top: 18px;
}
.loader_3:nth-child(1) {
    background-image:
        linear-gradient(90deg, transparent 50%, #BA65C9 50%),
        linear-gradient(320deg, #BA65C9 50%, transparent 50%);
}
.loader_4 {
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
    background-color: #edb4c8;
    border: 2px solid #edb4c8;
    margin: 50px auto;
    position:relative;
}
.loader_4:before{
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    
    z-index: 1;
    border-radius: 50%;
    left: 18px;
    top: 18px;
}
.loader_4:nth-child(1) {
    background-image:
        linear-gradient(90deg, transparent 50%, #EF3C79 50%),
        linear-gradient(280deg, #EF3C79 50%, transparent 50%);
}
.loader_5 {
    width: 150px;
    height:150px;
    display: block;
    border-radius: 50%;
    background-color: #bae8ef;
    border: 2px solid #bae8ef;
    margin: 50px auto;
    position:relative;
}
.loader_5:before{
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    
    z-index: 1;
    border-radius: 50%;
    left: 18px;
    top: 18px;
}
.loader_5:nth-child(1) {
    background-image:
        linear-gradient(90deg, transparent 50%, #00BBD6 50%),
        linear-gradient(400deg, #00BBD6 50%, transparent 50%);
}


.direct{
	height: 50px;
	width: 50px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	z-index: 9;
	font-size: 35px;
	transform: translateY(-35px);
	box-shadow: 0px 5px 5px -2px #888888;
}
.direct:hover {
	box-shadow: 0px 5px 10px -1px #888888;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
