
body {
	background-color: black;
	margin:0px;
	padding: 0px;
}
.main{
	
	display: block;
	margin:0px;
	padding: 0px;
	height: 650px;
	width: 100%;
}
.panel_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 600px;
	perspective: 600px;
}
.panel{
	width: 100%;
    height: 100%;
    background-image: url("bg.png");
	background-color: rgb(66,66,66);
	position: absolute;
	
}
.panel:hover{
	transition: 1s;

	transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-webkit-transform:rotateY( -27deg );
	transform: rotateY( -27deg );
}
.main_heading{
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -100px;
	margin-left: -200px;
}
.main_name{
	font-size: 80px;
	font-family: Abel,sans-serif;
	color: white;
}
.sidepanel {
  position: absolute;
  width:300px;
  height: 650px;
  z-index: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.side_in{
	margin: 0px 0px 0px 0px;
	background-color: black;	
	width: 260px;
	height: 650px;
	color: white;
}
.m_pic{
	height: 220px;
	width: 180px;
	margin: 50px 40px;
}
.details{
	color: white;
	padding-left: 20px;
}
.con_ic{
	float: left;
	margin: 0px 20px;
	width: 260px;
	height: 50px;
}
.fb_ic{
	float: left;
	margin: 0px 10px;
}
.section1{
	height: 100%;
	float: left;
}
.about_des{
	font-size:30px;
	text-align: justify;
	
	line-height: 150%;
}
.font_open{
	font-family: 'Open Sans', sans-serif ;
}
.section2{
	padding-top: 50px;
	height: 100%;
	width: 100%;
	float: left;
}
#sl{
	height: 100px;
	width: 100px;
}
.pulse {
	animation-name: pulse;
	-webkit-animation-name:pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse{

0% {
    transform: scale(0.9);
    opacity: 0.7;
}
50% {
    transform: scale(1);
    opacity: 1;
}
100% {
    transform: scale(0.9);
    opacity: 0.7;
}
}
.s1{
	width: 150px;
	height: 150px;
	margin:10px;
}
.row_s{
	width: 1000px;
	margin:0px auto;
}
.col-md-3{
	display: block;
	background-color: white;
	border-radius: 10px;
	width: 170px;
	height: 170px;
	margin:40px;
	float: left;
}
.section1_right{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(255,255,255,.7);
	border: 15px solid black;
}

.s2{
	width: 200px;
	height: 400px;
}
.footer{
	background-image: url(footer-bg.png);
	height: 100px;
	width: 100%;
	float:left;
}
.link{
	text-decoration: none;
	color: black;
}
